<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dfst.com.tracingdog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/default_head"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="dfst.com.tracingdog.global.TdApp"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7916fc24f80689b4450658b422926150" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"/>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
